#d1{
    width: 500px;
    height: 200px;
    background-color: #ddd;
    border-top: red solid 20px;
    border-bottom: blue solid 20px;
    border-left: black solid 20px;
    border-right: green solid 20px;
}