#d1, #d2, #d3 {
    border: 10px dotted #000; 
    padding: 35px; /*margem interna dos elementos*/
    background-color: #0F0;
    margin-top: 10pt;
}

#d1{
    background-clip: border-box;
}

#d2{
    background-clip: padding-box;
}

#d3{
    background-clip: content-box;
}